body {
    background-color: rgb(41,41,41);
    color: #fff;
}

.content {
    padding: 10px;
    max-width: 1200px;
    margin: auto;
}

nav .icon-bar {
    width: 100%;
    background-color: rgb(41,41,41);
    overflow: auto;
}

nav .icon-bar a {
    float: right;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    /*
    color: white;
    font-size: 36px;
    */
}

nav .icon-bar a:hover {
    background-color: #000;
}

h1 {
    font-size: 3em;
    font-family:'Chivo', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
}

div.project {
    margin 5% 0px;
}

div.project img {
    width: 100%;
    display: block;
    margin: auto;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

footer ul {
    font-family:'Chivo', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer a {
    text-decoration: none;
    color: #999;
}

footer a:hover {
    text-decoration: underline;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
