body {
    background-color: rgb(41,41,41);
    color: white;
    padding: 10px;
    max-width: 1200px;
    margin: auto;
    width: 90%;
    font-family:'Chivo';
}

/* --- Nav START --- */
/* --- Nav END --- */

/* --- Header START --- */

header .icon-bar {
    position:relative;
    width:100%;
    height:6em;
}

header .company-name {
    font-family: 'Chivo';
    font-weight: bold;
    font-size: 3.5em;
    position:absolute;
    top:50%;
    margin-top:-0.5em;
    height:3em;
}

header .icons {
    display: -webkit-flex;
    display: flex;
    float: right;
}

header .icons a {
    width: 50%;
    color: white;
}

header .icons a:hover {
    background-color: black;
}

header .icon {
    width: 100%;
    text-align: center;
    transition: all 0.3s ease;
}

header .icon img {
    height: 4em;
    margin: 1em;
}

/* --- Header END --- */

.blurb {
    font-family:'Chivo';
    font-size: 1.5em;
    line-height: 1.4em;
    padding: 2% 0 4% 0;
}

/* --- Project START --- */

.project {
    margin 5% 0px;
}

.project-title {
    font-size: 1.4em;
}

.project-title a {
    vertical-align: middle;
    display: inline-block;
    margin-left: 2%;
}

.project-title img {
    height: 1.8em;
    width: auto;
}

.project-image {
    width: 100%;
    display: block;
    margin: auto;
}

.project-details {
    font-size: 1.3em;
    line-height: 1.25em;
}

.project-details a {
    text-decoration: none;
    color: #999;
}

.project-details a:hover {
    text-decoration: underline;
}

/* --- Project END --- */

/* --- Footer START --- */

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1.3em;
}

footer ul {
    font-family:'Chivo', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer a {
    text-decoration: none;
    color: #999;
}

footer a:hover {
    text-decoration: underline;
}

footer .icons {
/*    display: none;*/
}

/* --- Footer END --- */

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* ===== RESPONSIVE ADJUSTMENTS ===== */

@media screen and (min-width: 1001px) {
    footer .icons { display: none; }
}

@media screen and (max-width: 1000px) {
    header .icons { display: none; }
    footer ul { display: none; }
    footer .icons { display: flex; width: 100%; text-align: center; margin: 2% 0;}
    footer .icon img { width: 40%; }
}

@media screen and (max-width: 515px) {
    header .company-name {
        font-family: 'Chivo';
        font-weight: bold;
        font-size: 2.5em;
    }
    footer .icon img { width: 70%; }
}


