body {
    background-color: rgb(41,41,41);
    color: white;
    padding: 10px;
    max-width: 1200px;
    margin: auto;
    width: 90%;
    font-family:'Chivo';
}

/* --- Nav START --- */
/* --- Nav END --- */

/* --- Header START --- */

header .icon-bar {
    position:relative;
    width:100%;
    height:6em;
}

header .company-name {
    font-family: 'Chivo';
    font-weight: bold;
    font-size: 3.5em;
    position:absolute;
    top:50%;
    margin-top:-0.5em;
    height:3em;
}

header .icons {
    display: -webkit-flex;
    display: flex;
    float: right;
}

header .icons a {
    width: 50%;
    color: white;
}

header .icons a:hover {
    background-color: black;
}

header .icon {
    width: 100%;
    text-align: center;
    transition: all 0.3s ease;
}

header .icon img {
    height: 4em;
    margin: 1em;
}

/* --- Header END --- */

.container a {
    text-decoration: none;
    color: #999;
}

.container a:hover {
    text-decoration: underline;
}

.blurb {
    font-family:'Chivo';
    font-size: 1.5em;
    line-height: 1.4em;
    padding: 2% 0 4% 0;
}

.project {
    margin 5% 0px;
}

.project img {
    width: 100%;
    display: block;
    margin: auto;
}

.project p {
    font-size: 1.4em;
}

/* --- Footer START --- */

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1.3em;
}

footer ul {
    font-family:'Chivo', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer a {
    text-decoration: none;
    color: #999;
}

footer a:hover {
    text-decoration: underline;
}

footer .icons {
    display: none;
}

/* --- Footer END --- */

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
